


 .img-overlay{
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
  filter: none;
  overflow: auto;
  filter: blur(1px);
}

.contact-us-container p{
  color: var(--bright-white);
  max-width: 1000px;
  font-weight: 800;
}

.contact-us-container .cta-container{
  display: flex;
  gap: 1em;
   padding: 0 .5em;
   justify-content: center;
}

.contact-us-container .cta-container >*{
  border: 2px solid var(--bright-white);
  border-radius: 2rem;
  box-shadow: 2px 2px 2px var(--dark-gray);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  transition: all 250ms ease;
}

.contact-us-container .cta-container >*:hover{
  transform: translateY(-5px);
}

.contact-us-form-container{
  display: flex;
  justify-content: space-between;
  overflow: visible; /*over ride the global css container*/
  flex-wrap: wrap;
  gap: 1em;
}

.contact-us-form-container >*{
  flex: 1;
  max-width: 700px;
  min-width: 300px;
}

.contact-us-form-container form{
    margin-top: -5rem;
    padding: 2.5em 1.5em;
    border-radius: .5rem;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: .8em;
    box-shadow: 2px 2px 4px var(--light-gold);
    background-color: var(--light-gold);
}

.contact-us-form-container form label{
  font-size: .8rem;
  font-weight: 600;
  color: var(--bright-white);
}

.contact-us-form-container form input,textarea{
  padding: .8em 1.6em;
  border-radius: .5rem;
  box-shadow: 1px 1px 2px var(--dark-gray);
  border: 1px solid var(--light-gray);
  outline: 2px solid transparent;
  transition: all 200ms ease;
}

.contact-us-form-container form input:focus{
  outline: 2px solid var(--dark-maroon);
}


.contact-us-form-container form textarea{
  resize: none;
  height: 150px;
  width: 100%;
  box-sizing: border-box;

}

.contact-us-form-container form button{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .5rem;
}

.contact-us-container form #name{
  text-transform: capitalize;
}

.contact-us-form-container form .input-container{
  display: flex;
  flex-direction: column;
}


/* below is the classlist  to animate submit icon send when submitting form */
.submitting{
animation: load .8s linear infinite;
}

@keyframes load {
  0%{
    transform: translateX(0);
  }
  50%{
    transform: translateX(10px);
  }
  100%{
    transform: translateX(0);
  }
}

.form-status-container{
  display: flex;
  align-items: center;
  position: fixed;
  color: var(--bright-white);
  background-color: green;
  font-weight: 700;
  padding: .85em 2em;
  border-radius: .5rem;
  display: grid;
  place-self: center;
  box-shadow:  2px 1px 2px var(--dark-gray);
  transition: all 200ms ease;
  animation: slideUp 2s ease-out forwards;
}

.form-status-container.success{
  bottom: 2em;
}

.form-status-container.error{
  background-color: red;
}

@keyframes slideUp {
    0%{
      bottom: 0em;
    }
    50% {
      bottom: 2em;
    }
    100%{
      bottom: 0em;
    }
}

@media(max-width:800px){
  .contact-us-form-container  form{
    margin-top: 1rem;
  }
}
