

.homepage-container header{
  height: 100svh;
  background-image: url('../assets/redhouse.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.homepage-container .img-overlay{
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #38333379;
  z-index: -1;
  filter: blur(5px);
  backdrop-filter: blur(.1px);
  overflow: auto;
}

.hero-section-container{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1em .5em;
  min-height: 200px;
  overflow: auto;
}

.hero-section-container >*{
  margin-bottom: 2em;
}


.hero-section-container h1{
  text-align: center;
  text-shadow: 2px 2px 4px var(--dark-gray);
  margin-bottom: .5em;
}

.hero-section-container  button{
  font-size: 1rem;
  border-radius: 2rem;
  box-shadow: 2px 2px 4px var(--dark-gray);
}

.hero-section-container .short-description{
  max-width: 600px;
  text-align: center;
}


.why-choose-us-section .sub-text{
  max-width: 700px;
  margin-top: .25em;
}

.homepage-container .offers-container{
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
}

.homepage-container .offers-container .offer-card{
  margin: .8em;
  padding: 1em 1.5em;
  border-radius: .5rem;
  box-shadow: 2px 2px 4px var(--dark-gray);
  width: 350px;
  transition: all 250ms ease;
}

.offers-container .offer-card:hover{
  transform: translateY(-10px);
  box-shadow:  4px 4px 8px var(--dark-gray);
}


.offers-container .offer-card .offer-title,.offer-description{
  margin: .5em 0;
}

.offer-card .offer-title{
  font-size: 1.2rem;
}

.offer-card .offer-description{
  font-size: 1rem;
}







@media(max-width: 850px){
  .homepage-container .offers-container .offer-card{
  width: 100%;
}
}