

.homepage-container header{
  height: 100svh;
  background-image: url('../assets/redhouse.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.homepage-container .img-overlay{
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #38333379;
  z-index: -1;
  filter: blur(5px);
  backdrop-filter: blur(.1px);
  overflow: auto;
}

.hero-section-container{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1em .5em;
  min-height: 200px;
  overflow: auto;
}

.hero-section-container >*{
  margin-bottom: 2em;
}


.hero-section-container h1{
  text-align: center;
  text-shadow: 2px 2px 4px var(--dark-gray);
  margin-bottom: .5em;
}

.hero-section-container  button{
  font-size: 1rem;
  border-radius: 2rem;
  box-shadow: 2px 2px 4px var(--dark-gray);
}

.hero-section-container .short-description{
  max-width: 600px;
  text-align: center;
}