

.homepage-container header{
  height: 100svh;
  background-image: url('../assets/redhouse.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;

}

.homepage-container .img-overlay{
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #4b4a4a00;
  z-index: -1;
  filter: blur(1px);
  backdrop-filter: blur(.1px);
}