

.homepage-container header{
  height: 100svh;
  background-image: url('../assets/redhouse.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.homepage-container .img-overlay{
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #38333379;
  z-index: -1;
  filter: blur(5px);
  backdrop-filter: blur(.1px);
  overflow: auto;
}

.hero-section-container{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1em .5em;
  min-height: 200px;
  overflow: auto;
  padding-top: 5em;
}

@media screen and (max-height: 400px) {
  .hero-section-container{
    height: auto;
  }
  .homepage-container header{
    height: auto;
  }
}



.hero-section-container >*{
  margin-bottom: 2em;
}


.hero-section-container h1{
  text-align: center;
  text-shadow: 2px 2px 4px var(--dark-gray);
  margin-bottom: .5em;
}

.hero-section-container  button{
  font-size: 1rem;
  border-radius: 2rem;
  box-shadow: 2px 2px 4px var(--dark-gray);
}

.hero-section-container .short-description{
  max-width: 600px;
  text-align: center;
}


.why-choose-us-section .sub-text{
  max-width: 700px;
  margin-top: .25em;
}

.homepage-container .offers-container{
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
}

.homepage-container .offers-container .offer-card{
  margin: .8em;
  padding: 1em 1.5em;
  border-radius: .5rem;
  box-shadow: 2px 2px 4px var(--dark-gray);
  width: 350px;
  transition: all 250ms ease;
}

.offers-container .offer-card:hover{
  transform: translateY(-10px);
  box-shadow:  4px 4px 8px var(--dark-gray);
}


.offers-container .offer-card .offer-title,.offer-description{
  margin: .5em 0;
}

.offer-card .offer-title{
  font-size: 1.2rem;
}

.offer-card .offer-description{
  font-size: 1rem;
}


/* ================ INVESTMENT PLAN ==========*/
.investment-plan-section{
  background-image: url('../assets/red-texture.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.investment-plan-section{
  padding: 0;
}
.investment-plan-section >div{
  padding: 0;
  display: flex;
}

.investment-plan-section .left-container{
  background-color: #38333379;
  padding: clamp(1rem, 20vw, 4rem) ;
  flex: 1;
  color: var(--white);
}

.investment-card{
  margin-bottom: 1em;
}

.line{
  background-color: var(--white);
  height: 6px;
  border-radius: 2rem;
  display: flex;
  justify-content: space-around;
}

.line >*{
  height: 20px;
  width: 20px;
  background-color: var(--white);
  margin: .5em;
  border-radius: 50%;
  margin-top: -.4em;
  
}

.investment-plan-section .logo-text{
  flex: 1;
  height: fit-content;
  text-align: center;
  align-self: center;
}


.land-listing-card{
  width: 320px;
  border: 1px solid var(--light-gray);
  border-radius: .5rem;
  padding: .35em;
  box-shadow: 2px 2px 4px var(--dark-gray);
  background-color: var(--white);
  margin: .25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
}

.land-listing-card figure{
  height: 200px;
  background-color: var(--dark-gray);
  border-radius: inherit;
  position: relative;
  overflow: hidden;
}

.land-listing-card figure span{
  position: absolute;
  padding: .25em .5em;
  font-weight: 700;
  font-size: .8rem;
   border-radius: inherit;
}

.land-listing-card .listing-status{
  top:.25em;
  right: .25em;
  background-color: rgb(118, 207, 118);
  color: var(--white);
}

.listing-security{
  bottom: .25em;
  left: .25em;
  color: var(--light-gold);
  background-color: rgba(210, 92, 59, 0.386);
}

.land-listing-card .listing-title{
  font-weight: bold;
  text-align: end;
}

.land-listing-card button{
  width: 100%;
  border-radius: inherit;
   display: flex;
   justify-content: center;
   transform: none;
   background-color: var(--light-gold);
   color: var(--white);
}

.land-listing-card .old-price{
  display: block;
  font-size: .7rem;
  margin-left: 1em;
  margin-top: -.5em;
}

.land-listing-card .land-listing-content{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.land-listings-container{
    display: flex;
    flex-shrink: 0;
    overflow: auto;
}

.view-more-lands{
  margin: 0 auto;
  background-color: var(--white);
  color: var(--light-gold);
  letter-spacing: 8px;
  font-size: 1rem;
  max-width: 500px;
  width: 100%;
  border: 2px solid var(--light-gold);
  display: flex;
  justify-content: space-between;
}



/* Numbers section */
.ours-numbers-section{
 text-align: center;
 background-attachment: fixed;
 background-image: url('../assets//numbers-section-bkg.png');
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;

}

.numbers-container{
  display: flex;
  justify-content: space-around;
  padding-top:  5em;
  text-align: center;
  flex-wrap: wrap;
}
.numbers-container p{
  display: flex;
  flex-direction: column;
  padding:  1em;
  text-align: center;
  justify-content: center;
}

.numbers-container p> :first-child{
  font-size: 2.5rem;
  color: var(--light-gold);
  text-shadow: 1px 1px 3px var(--dark-maroon);
}

.numbers-container p>:nth-child(2){
  font-size: .9rem;
}

/* how it works section=========== */
.how-it-works-section h3::after{
  content: '';
  width: 100px;
  height: 5px;
  background-color: maroon;
  display: block;
  border-radius: 2rem;
  transform: translateX(50%);
}


.how-it-works-section .h-i-w-list{
  padding: 2em ;
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.how-it-works-section .h-i-w-list ol{
  /* flex: 1; */
  /* max-width: 60%; */
}

.how-it-works-section .h-i-w-list ol li{
  margin: .5em 0;
}
.how-it-works-section .h-i-w-list ol li p{
  font-weight: 800;
  color: var(--light-gold);
  text-shadow: 1px 1px 1px var(--dark-maroon);
}

.how-it-works-section ol li::marker{
  color: var(--dark-maroon);
  font-weight: 700;
}

.how-it-works-image-container{
  display: grid;
  grid-template-columns: repeat(2, 280px);
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 200px);
  place-items: center;

  gap: .5em;
}

.how-it-works-image-container figure:first-child {
  grid-row: span 2;
  height: 100%;
  object-fit: cover;
}

.how-it-works-image-container figure{
  height: 200px;
  border-radius: .5rem;
  box-shadow: 2px 2px 2px var(--dark-gray);
}





.testimonial-section{
  padding: 2em 0;
  height: 100svh;
}


.testimonial-container{
  width: 100%;
  display: grid;
  place-items: center;
  position: relative;
  overflow-y: auto;
  padding: 3em .5em;
  padding-top: 1em ;
  position: relative;
  margin: 0;
  height: 80svh;
  scrollbar-width: none;
  scroll-snap-type: y mandatory; /* Forces snapping on the Y axis */
  scroll-behavior: smooth;

}

.client-testimonial-card {
  position: sticky;
  top: .5em;
  width: 100%;
  max-width: 850px;
  min-height: 350px;
  background: var(--deep-gradient);
  padding: 0;
  border-radius: .5rem;
  color: var(--bright-white);
  margin: .5em 0;
  box-shadow: 0 -5px 10px var(--dark-maroon), 0 5px 10px rgb(255, 234, 234);
  transition: transform 0.3s ease;
  display: flex;
  overflow: hidden;
  align-items: stretch;
  /* scroll-snap-align:end; 
  scroll-snap-stop: always; */
}

.client-testimonial-card  figure{
  border-radius: inherit;
  flex: .8;
  position: relative;
  height: 100%;
  /* max-height: 200px; */
}


.client-testimonial-card figcaption {
  position: absolute;
  bottom: 1em;
  left: 0;
  width: 100%; 
  max-width: 300px;
  background-color: rgba(247, 247, 247, 0.9); 
  padding: 1rem;
  color: var(--text-black);
  z-index: 100;
  font-size: .9rem;
}

.testimonial-content {
  flex: 1; /* Give it the other 50% */
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media(max-width: 600px){
.client-testimonial-card{
   flex-direction: column;
   height: 500px;
}

.client-testimonial-card  figure{
  border-radius: inherit;
  flex: .8;
  position: relative;
  max-height: 300px;
  height: 250px;
}

}









@media(max-width: 850px){
  .homepage-container .offers-container .offer-card{
  width: 100%;
}
}